/*Colours: 
Umber:#5C573E;
Sunset Orange: #EE6055;
Sandy Brown: #F79D5C;
Pale Green: #AAF683;
Medium Aquamarine: #60D394;
*/


body {
text-align: center;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
  /*umber*/
  background-color: #5C573E;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3 ;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
 }
 
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50 ;
    cursor: pointer;
 }
 
 .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50 ;
    cursor: pointer;
 }

 input {
    border: 0px solid;
    height: 20px;
    width: 80px;
    padding: 10px;
    /* orange looks awful background-color: #AAF683;*/
    color: white;
    text-align: center;
 }
 #budgetLeft{
   margin-right: 50px;
 }
 #fromBox {
   margin-right: 30px;
 }
 input.budgets ,  button {
    background-color: transparent;
    padding: 20px;
   margin: 10px;
   /*red orange*/
   background: #EE6055;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
 } 


.page-wrap {
  min-height: 100%;
  padding: 20px;
  /* equal to footer height */
  margin-bottom: -142px; 
  margin-top: -80px;
}
.page-wrap:before {
  content: "";
  display: block;
}
.site-header, .page-wrap:before {
  height: 80px; 
}
.site-header {
   /*aquamarine*/
  background: #60D394;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
   /*aquamarine*/
  background: #60D394;
}

body {
  padding: 10px;
}